<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MosqueMateV2.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MosqueMateV2.Properties.AppSettings>
            <setting name="TimeRemainder" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="Lang" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="AutoStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Adhan" serializeAs="String">
                <value />
            </setting>
            <setting name="AdhanFajr" serializeAs="String">
                <value />
            </setting>
            <setting name="NotificationEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Country" serializeAs="String">
                <value>egypt</value>
            </setting>
            <setting name="City" serializeAs="String">
                <value>CAIRO</value>
            </setting>
            <setting name="Method" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ContinueReading" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Reciter" serializeAs="String">
                <value>Ofacy</value>
            </setting>
            <setting name="themeMode" serializeAs="String">
                <value>Dark</value>
            </setting>
        </MosqueMateV2.Properties.AppSettings>
    </userSettings>
</configuration>